/** Стили для пк **/
@media (max-width: 1440px) {
    body {
        padding-inline: 50px;
    }
}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {
    body {
        padding-inline: 0px;
    }

    header .desktop-menu ul,
    header .header-icons {
        display: none;
    }

    header .menu-toggle {
        display: block;
    }

    .carousel-btn {
        font-size: 1.5rem; 
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

/** Стили для телефонов **/
@media (max-width: 800px) {
    .carousel {
        width: 90%;
    }

    header {
        padding-inline: 20px;
    }

    header .logo { 
        font-size: 1.8rem;
    }
}

/** Стили для очень маленьких телефонов **/
@media (max-width: 500px) {
    header {
        padding-inline: 20px;
    }
}

