/** Стили для пк **/
@media (max-width: 1440px) {
    .page-index .offers {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .carousel-slide.slide-1 h3 {
        font-size: 32px;
    }

    .carousel-slide.slide-1 a {
        font-size: 18px;
    }

    .carousel-slide.slide-2 h3 {
        font-size: 32px;
    }

    .carousel-slide.slide-2 a {
        font-size: 18px;
    }

    .carousel-slide.slide-3 h3 {
        font-size: 36px;
    }

    .carousel-slide.slide-3 a {
        font-size: 22px;
    }
}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {

    header .desktop-menu ul,
    header .header-icons {
        display: none;
    }

    header .menu-toggle {
        display: block;
    }

    .carousel-btn {
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .carousel {
        width: 80%;
        margin-top: 10px;
    }

    .page-index .offers {
        padding-inline: 10%;
    }

    .page-index .categories {
        width: 80%;
    }
}

/** Стили для телефонов **/
@media (max-width: 800px) {
    .carousel {
        width: 90%;
        margin-top: 0px;
    }

    header {
        padding-inline: 20px;
    }

    header .logo {
        font-size: 1.8rem;
    }

    .page-index .offers {
        padding-inline: 5%;
    }

    .page-index .offers .offers-card img {
        height: 200px;
    }

    .page-index .offers .offers-card h3 {
        font-size: 16px;
    }

    .page-index .offers .offers-card p {
        font-size: 12px;
    }

    .page-index .offers .offers-card a {
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }

    .carousel-slide.slide-1 h3 {
        font-size: 24px;
    }

    .carousel-slide.slide-1 a {
        font-size: 16px;
    }

    .carousel-slide.slide-2 h3 {
        font-size: 26px;
    }

    .carousel-slide.slide-2 a {
        font-size: 16px;
    }

    .carousel-slide.slide-3 h3 {
        font-size: 36px;
    }

    .carousel-slide.slide-3 a {
        font-size: 18px;
    }

    .page-index .categories {
        width: 90%;
    }

    .page-index .categories .categories-item h3 {
        font-size: 22px;
        right: 5px;
    }
}

/** Стили для очень маленьких телефонов **/
@media (max-width: 500px) {
    header {
        padding-inline: 20px;
    }

    .page-index .offers {
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 340px;
        margin: 0 auto;
    }

    .carousel-slide.slide-1 {
        padding: 15px;
    }

    .carousel-slide.slide-1 h3 {
        font-size: 18px;
    }

    .carousel-slide.slide-1 a {
        font-size: 12px;
        padding: 15px;
    }

    .carousel-slide.slide-2 {
        padding: 15px;
    }

    .carousel-slide.slide-2 h3 {
        font-size: 22px;
    }

    .carousel-slide.slide-2 a {
        font-size: 14px;
        padding: 15px;
    }

    .carousel-slide.slide-3 h3 {
        font-size: 24px;
    }

    .carousel-slide.slide-3 a {
        font-size: 18px;
        padding: 15px;
    }

    .page-index .categories {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (hover: none) and (pointer: coarse) {
    .button-animated:hover {
        background-color: var(--color-dark-gray);
        color: var(--color-white);
    }
}