/** Стили для пк **/
@media (max-width: 1440px) {
    body {
        padding-inline: 50px;
    }

    .page-index .offers {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {
    body {
        padding-inline: 0px;
    }

    header .desktop-menu ul,
    header .header-icons {
        display: none;
    }

    header .menu-toggle {
        display: block;
    }

    .carousel-btn {
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

/** Стили для телефонов **/
@media (max-width: 800px) {
    .carousel {
        width: 90%;
    }

    header {
        padding-inline: 20px;
    }

    header .logo {
        font-size: 1.8rem;
    }

    .page-index .offers {
        width: 90%;
    }

    .page-index .offers-card {}

    .page-index .offers .offers-card img {
        height: 200px;
    }

    .page-index .offers .offers-card h3 {
        font-size: 16px;
    }

    .page-index .offers .offers-card p {
        font-size: 12px;
    }

    .page-index .offers .offers-card a {
        font-size: 0.9rem;
        padding: 0.5rem 0; 
    }
}

/** Стили для очень маленьких телефонов **/
@media (max-width: 500px) {
    header {
        padding-inline: 20px;
    }

    .page-index .offers {
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 340px;
        margin: 0 auto;
    }
}

@media (hover: none) and (pointer: coarse) {
    .button-animated:hover {
        background-color: var(--color-dark-gray);
        color: var(--color-white);
    }
}