/** Стили для пк **/
@media (max-width: 1440px) {
    .page-index .offers {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .carousel-slide.slide-1 h3 {
        font-size: 32px;
    }

    .carousel-slide.slide-1 a {
        font-size: 18px;
    }

    .carousel-slide.slide-2 h3 {
        font-size: 32px;
    }

    .carousel-slide.slide-2 a {
        font-size: 18px;
    }

    .carousel-slide.slide-3 h3 {
        font-size: 36px;
    }

    .carousel-slide.slide-3 a {
        font-size: 22px;
    }

    .new-products .products .products-info h3 {
        font-size: 20px;
    }

    .new-products .products a {
        font-size: 16px;
    }

    .new-products {
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
    }

    .new-products .products .products-info .products-img img {
        max-height: 200px;
    }

    .filter-checkbox-label {
        font-size: 0.8rem;
    }

    .page-catalog .shop .filter button {
        font-size: 0.9rem;
    }
}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {

    header .desktop-menu ul,
    header .header-icons {
        display: none;
    }

    header .menu-toggle {
        display: block;
    }

    .carousel-btn {
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .carousel {
        width: 80%;
        margin-top: 10px;
    }

    .page-index .offers {
        padding-inline: 10%;
    }

    .page-index .categories {
        width: 80%;
    }

    .new-products {
        width: 80%;
    }

    .page-catalog .shop {
        width: 90%;
        margin-top: 10px;
    }


    .page-catalog .shop .mobile-filter {
        visibility: hidden;
        position: fixed;
        width: 100vw;
        left: 0;
        top: 60px;
        padding-left: 70px;
        border: none;
        background-color: var(--color-white);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.6s ease;
    }

    .page-catalog .shop .mobile-filter.visible-filter {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }

    .page-catalog .shop .filter .submit-button {
        width: 40%;
        padding: 5px 0px;
        margin-top: 15px;
        font-family: var(--font-ui);
        font-size: 0.8rem;
        color: var(--color-dark-gray);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        transition: all 0.3s ease-in-out;
        margin: 0;
    }

    .page-catalog .shop .items {
        width: 100%;
    }

    .page-catalog .shop {
        margin-top: 0;
    }

    .mobile-filter-button {
        display: flex;
    }

}

/** Стили для телефонов **/
@media (max-width: 800px) {
    .carousel {
        width: 90%;
        margin-top: 0px;
    }

    header {
        padding-inline: 20px;
    }

    header .logo {
        font-size: 1.8rem;
    }

    .page-index .offers {
        padding-inline: 5%;
    }

    .page-index .offers .offers-card img {
        height: 200px;
    }

    .page-index .offers .offers-card h3 {
        font-size: 16px;
    }

    .page-index .offers .offers-card p {
        font-size: 12px;
    }

    .page-index .offers .offers-card a {
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }

    .carousel-slide.slide-1 h3 {
        font-size: 24px;
    }

    .carousel-slide.slide-1 a {
        font-size: 16px;
    }

    .carousel-slide.slide-2 h3 {
        font-size: 26px;
    }

    .carousel-slide.slide-2 a {
        font-size: 16px;
    }

    .carousel-slide.slide-3 h3 {
        font-size: 36px;
    }

    .carousel-slide.slide-3 a {
        font-size: 18px;
    }

    .page-index .categories {
        width: 90%;
    }

    .page-index .categories .categories-item h3 {
        font-size: 22px;
        right: 5px;
    }

    .new-products {
        width: 90%;
    }

    footer hr {
        display: none;
    }

    footer .footer-container {
        width: 90%;
    }

    .page-catalog .shop .items {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 0.5rem;
    }

    .page-catalog .shop .items .item-card {
        max-width: 200px;
        max-height: 275px;
        margin-inline: auto;
    }

    .page-catalog .shop .items .item-card h3 {
        font-size: 1rem;
    }

    .page-catalog .shop .items .item-card p {
        font-size: 0.8rem;
    }

    .page-catalog .shop .items .item-card button {
        font-size: 0.8rem;
    }
}

/** Стили для очень маленьких телефонов **/
@media (max-width: 500px) {
    header {
        padding-inline: 20px;
    }

    .page-index .offers {
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 340px;
        margin: 0 auto;
    }

    .carousel-slide.slide-1 {
        padding: 15px;
    }

    .carousel-slide.slide-1 h3 {
        font-size: 18px;
    }

    .carousel-slide.slide-1 a {
        font-size: 12px;
        padding: 15px;
    }

    .carousel-slide.slide-2 {
        padding: 15px;
    }

    .carousel-slide.slide-2 h3 {
        font-size: 22px;
    }

    .carousel-slide.slide-2 a {
        font-size: 14px;
        padding: 15px;
    }

    .carousel-slide.slide-3 h3 {
        font-size: 24px;
    }

    .carousel-slide.slide-3 a {
        font-size: 18px;
        padding: 15px;
    }

    .page-index .categories {
        grid-template-columns: repeat(1, 1fr);
    }

    .new-products {
        grid-template-columns: repeat(1, 1fr);
    }

    footer .footer-container {
        width: 70%;
    }

    footer ul {
        gap: 0;
        margin: 0;
    }

    footer span {
        font-size: 1.6rem;
    }

    footer a {
        font-size: 14px;
    }

    footer p {
        font-size: 16px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .button-animated:hover {
        background-color: var(--color-dark-gray);
        color: var(--color-white);
    }
}