:root {
    /* Для заголовков */
    --font-heading: 'Montserrat', sans-serif;
    /* Для основного текста */
    --font-body: 'Open Sans', sans-serif;
    /* Для элементов UI  */
    --font-ui: 'Roboto', sans-serif;

    --color-white: #FFFFFF;
    /* Для фонов карточек/мягких секций */
    --color-off-white: #FAFAFB;
    /* Для границ, разделителей */
    --color-light-gray: #E5E7EB;
    /* Холодный серый для второстепенного текста */
    --color-medium-gray: #6B7280;
    /* Почти чёрный для основного текста и заголовков */
    --color-dark-gray: #111827;
}

/* Стили для анимаци кнопок */
.button-animated {
    color: var(--color-white);
    background-color: var(--color-dark-gray);
    border: 1px solid var(--color-dark-gray);
    transition: background-color 0.3s ease-out, color 0.1s ease-out, transform 0.3s ease-out;
}

.button-animated:hover {
    background-color: var(--color-white);
    color: var(--color-dark-gray);
    transform: scale(1.03);
}

.button-animated:active {
    transform: scale(0.95); 
}

body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 80px;
}

/* Шапка */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); 
    box-sizing: border-box; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: var(--color-white);
}

/* Лого на шапке */
header .logo {
    text-decoration: none;
    color: var(--color-dark-gray);
    font-family: var(--font-heading), sans-serif;
    font-weight: 800;
    font-size: 2.25rem;
    white-space: nowrap;
}

/* Навигация */
header .desktop-menu ul {
    display: flex;
    gap: 0.2rem;
    list-style-type: none;
    padding: 0px;
}

header .desktop-menu ul li a {
    text-decoration: none;
    color: var(--color-medium-gray);
    font-family: var(--font-body), sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    white-space: nowrap;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    min-width: 100px;
    text-align: center;
}

header .desktop-menu ul li a::before,
header .desktop-menu ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1),
        top 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
        bottom 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

header .desktop-menu ul li a::before {
    top: -10px;
}

header .desktop-menu ul li a::after {
    bottom: -10px;
}

header .desktop-menu ul li a:hover {
    color: var(--color-white);
    background-color: var(--color-dark-gray)
}

header .desktop-menu ul li a:hover::before {
    top: -3px;
    transform: scaleX(1);
}

header .desktop-menu ul li a:hover::after {
    bottom: -3px;
    transform: scaleX(1);
}

header .desktop-menu .active {
    color: var(--color-dark-gray);
}

/* Иконки профиля и корзины */
header .header-icons {
    display: flex;
    justify-content: end;
    width: 240px;
    gap: 1rem;
}

header .header-icons svg {
    color: var(--color-dark-gray);
    transition: transform 0.2s ease;
}


header .header-icons svg:hover {
    transform: scale(1.1);
}

/* Бургер меню */
.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 20px;
    padding: 0;
    display: none; 
    z-index: 15;
}

.menu-toggle .hamburger {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.menu-toggle .hamburger::before {
    top: -8px;
}

.menu-toggle .hamburger::after {
    top: 8px;
}

.menu-toggle.is-active .hamburger {
    background-color: transparent;
}

.menu-toggle.is-active .hamburger::before {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.is-active .hamburger::after {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
    position: fixed;
    right: -45vw; 
    top: 0;
    z-index: 10;
    background-color: #f8f9fa;
    height: 100vh;
    width: 45vw;
    transition: right 0.4s ease; 
}

.mobile-menu.menu-open { 
    right: 0; 
}

.mobile-menu ul {
    margin-top: 80px;
}

.mobile-menu ul li {
    list-style: none;
    margin-bottom: 15px;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: var(--color-medium-gray);
    font-family: var(--font-ui);
    font-weight: 500;
}

.mobile-menu .active {
    color: var(--color-dark-gray);
}

/* Блокировка скролла при открытом меню */
.no-scroll {
    overflow: hidden;
    padding-right: calc(100vw - 100%);
}

.backdrop {
    position: fixed;       
    top: 0;
    left: 0;
    width: 100vw;           
    height: 100vh;         
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;            
    display: none;          
}

.backdrop.active {
    display: block;
}

/* Карусель на главной странице */
.carousel {
    width: 60%;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border: 0.1px rgba(0, 0, 0, 0.3) solid;
}

.carousel-wrapper {
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    height: 500px;
}

.carousel-slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 15px;
}

.next-btn {
    right: 15px;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicator.active {
    background: white;
}

.indicator:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* Стили карточек предложений */
.page-index .offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 60%;
    margin: 0 auto;
}

.page-index .offers .offers-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: solid rgba(0, 0, 0, 0.2) 0.5px;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
}

.page-index .offers .offers-card .offers-card-img {
    overflow: hidden;
    border-radius: 12px;
}

.page-index .offers .offers-card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    transition: transform 0.3s ease-out ;
}

.page-index .offers .offers-card img:hover {
    transform: scale(1.1);
}

.page-index .offers .offers-card h3 {
    font-family: var(--font-heading);
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0px;
}

.page-index .offers .offers-card p {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 1rem;
}

.page-index .offers .offers-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-size: 1.125rem;     
    font-family: var(--font-ui);
    padding: 0.625rem 0;
    border-radius: 0.75rem;  
}