:root {
    /* Для заголовков */
    --font-heading: 'Montserrat', sans-serif;
    /* Для основного текста */
    --font-body: 'Open Sans', sans-serif;
    /* Для элементов UI  */
    --font-ui: 'Roboto', sans-serif;

    --color-white: #FFFFFF;
    /* Для фонов карточек/мягких секций */
    --color-off-white: #FAFAFB;
    /* Для границ, разделителей */
    --color-light-gray: #E5E7EB;
    /* Холодный серый для второстепенного текста */
    --color-medium-gray: #6B7280;
    /* Почти чёрный для основного текста и заголовков */
    --color-dark-gray: #111827;
}

body {
    display: flex;
    flex-direction: column;
    padding-inline: 100px;
}

/* Шапка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 3.5rem;
}

/* Лого на шапке */
header .logo {
    text-decoration: none;
    color: var(--color-dark-gray);
    font-family: var(--font-heading), sans-serif;
    font-weight: 800;
    font-size: 2.25rem;
    white-space: nowrap;
}

/* Навигация */
header ul {
    display: flex;
    gap: 0.2rem;
    list-style-type: none;
    padding: 0px;
}

header ul li a {
    text-decoration: none;
    color: var(--color-medium-gray);
    font-family: var(--font-body), sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    white-space: nowrap;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    min-width: 100px;
    text-align: center;
}

header ul li a::before,
header ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1),
        top 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
        bottom 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

header ul li a::before {
    top: -10px;
}

header ul li a::after {
    bottom: -10px;
}

header ul li a:hover {
    color: var(--color-white);
    background-color: var(--color-dark-gray)
}

header ul li a:hover::before {
    top: -3px;
    transform: scaleX(1);
}

header ul li a:hover::after {
    bottom: -3px;
    transform: scaleX(1);
}

header .active {
    color: var(--color-dark-gray);
}

/* Иконки профиля и корзины */
header .header-icons {
    display: flex;
    justify-content: end;
    
    gap: 1rem;
}

header .header-icons svg {
    color: var(--color-dark-gray);
    transition: transform 0.2s ease;
}


header .header-icons svg:hover {
    transform: scale(1.1);
}