:root {
    /* Для заголовков */
    --font-heading: 'Montserrat', sans-serif;
    /* Для основного текста */
    --font-body: 'Open Sans', sans-serif;
    /* Для элементов UI  */
    --font-ui: 'Roboto', sans-serif;

    --color-white: #FFFFFF;
    /* Для фонов карточек/мягких секций */
    --color-off-white: #FAFAFB;
    /* Для границ, разделителей */
    --color-light-gray: #E5E7EB;
    /* Холодный серый для второстепенного текста */
    --color-medium-gray: #6B7280;
    /* Почти чёрный для основного текста и заголовков */
    --color-dark-gray: #111827;
}

/* Стили для анимаци кнопок */
.button-animated {
    color: var(--color-white);
    background-color: var(--color-dark-gray);
    border: 1px solid var(--color-dark-gray);
    transition: background-color 0.3s ease-out, color 0.1s ease-out, transform 0.3s ease-out;
}

.button-animated:hover {
    background-color: var(--color-white);
    color: var(--color-dark-gray);
    transform: scale(1.03);
}

.button-animated:active {
    transform: scale(0.95); 
}

body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 80px;
}

/* Шапка */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); 
    box-sizing: border-box; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: var(--color-white);
}

/* Лого на шапке */
header .logo {
    text-decoration: none;
    color: var(--color-dark-gray);
    font-family: var(--font-heading), sans-serif;
    font-weight: 800;
    font-size: 2.25rem;
    white-space: nowrap;
}

/* Навигация */
header .desktop-menu ul {
    display: flex;
    gap: 0.2rem;
    list-style-type: none;
    padding: 0px;
}

header .desktop-menu ul li a {
    text-decoration: none;
    color: var(--color-medium-gray);
    font-family: var(--font-body), sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    white-space: nowrap;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    min-width: 100px;
    text-align: center;
}

header .desktop-menu ul li a::before,
header .desktop-menu ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1),
        top 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
        bottom 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

header .desktop-menu ul li a::before {
    top: -10px;
}

header .desktop-menu ul li a::after {
    bottom: -10px;
}

header .desktop-menu ul li a:hover {
    color: var(--color-white);
    background-color: var(--color-dark-gray)
}

header .desktop-menu ul li a:hover::before {
    top: -3px;
    transform: scaleX(1);
}

header .desktop-menu ul li a:hover::after {
    bottom: -3px;
    transform: scaleX(1);
}

header .desktop-menu .active {
    color: var(--color-dark-gray);
}

/* Иконки профиля и корзины */
header .header-icons {
    display: flex;
    justify-content: end;
    width: 240px;
    gap: 1rem;
}

header .header-icons svg {
    color: var(--color-dark-gray);
    transition: transform 0.2s ease;
}


header .header-icons svg:hover {
    transform: scale(1.1);
}

/* Бургер меню */
.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 20px;
    padding: 0;
    display: none; 
    z-index: 15;
}

.menu-toggle .hamburger {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.menu-toggle .hamburger::before {
    top: -8px;
}

.menu-toggle .hamburger::after {
    top: 8px;
}

.menu-toggle.is-active .hamburger {
    background-color: transparent;
}

.menu-toggle.is-active .hamburger::before {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.is-active .hamburger::after {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
    position: fixed;
    right: -45vw; 
    top: 0;
    z-index: 10;
    background-color: #f8f9fa;
    height: 100vh;
    width: 45vw;
    transition: right 0.4s ease; 
}

.mobile-menu.menu-open { 
    right: 0; 
}

.mobile-menu ul {
    margin-top: 80px;
}

.mobile-menu ul li {
    list-style: none;
    margin-bottom: 15px;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: var(--color-medium-gray);
    font-family: var(--font-ui);
    font-weight: 500;
}

.mobile-menu .active {
    color: var(--color-dark-gray);
}

/* Блокировка скролла при открытом меню */
.no-scroll {
    overflow: hidden;
    padding-right: calc(100vw - 100%);
}

.backdrop {
    position: fixed;       
    top: 0;
    left: 0;
    width: 100vw;           
    height: 100vh;         
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;            
    display: none;          
}

.backdrop.active {
    display: block;
}

/* Карусель на главной странице */
.carousel {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border: 0.1px rgba(0, 0, 0, 0.3) solid;
}

.carousel-wrapper {
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    height: 500px;
}

.carousel-slide.slide-1 {
    min-width: 100%;
    background-image: url('../img/slide_1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.carousel-slide.slide-1 h3 {
    font-family: var(--font-heading);
    font-size: 40px;
    margin: 0px;
}

.carousel-slide.slide-1 .button-banner {
    display: flex;
    justify-content: end;
    align-items: end;
}

.carousel-slide.slide-1 a {
    text-decoration: none;
    color: white;
    font-family: var(--font-ui);
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(135deg, #4f67ff, #6a8bff);
    padding: 15px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(79, 103, 255, 0.2);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.carousel-slide.slide-1 a:hover {
    transform: scale(1.05);
}

.carousel-slide.slide-1 a:active {
    transform: scale(0.90);
}


.carousel-slide.slide-2 {
    min-width: 100%;
    background-image: url('../img/slide_2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.carousel-slide.slide-2 h3 {
    font-family: var(--font-heading);
    color: var(--color-white);
    font-size: 40px;
    margin: 0px;
    text-align: right;
}

.carousel-slide.slide-2 .button-banner {
    display: flex;
    justify-content: end;
    align-items: end;
}

.carousel-slide.slide-2 a {
    text-decoration: none;
    color: white;
    font-family: var(--font-ui);
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    padding: 15px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(79, 103, 255, 0.2);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.carousel-slide.slide-2 a:hover {
    transform: scale(1.05);
}

.carousel-slide.slide-2 a:active {
    transform: scale(0.90);
}

.carousel-slide.slide-3 {
    min-width: 100%;
    background-image: url('../img/slide_3.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel-slide.slide-3 .button-banner {
    display: flex;
}

.carousel-slide.slide-3 h3 {
    font-family: var(--font-heading);
    color: var(--color-dark-gray);
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

.carousel-slide.slide-3 a {
    text-decoration: none;
    color: white;
    font-family: var(--font-ui);
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(135deg, #FF8C00, #FF6B6B);
    padding: 15px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(79, 103, 255, 0.2);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.carousel-slide.slide-3 a:hover {
    transform: scale(1.05);
}

.carousel-slide.slide-3 a:active {
    transform: scale(0.90);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    color: var(--color-dark-gray);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.carousel-btn:hover {
    background: var(--color-white);
    color: var(--color-dark-gray);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    transform: translateY(-50%) scale(1.1);
}

.carousel-btn:active {
    transform: translateY(-50%) scale(0.95);
}

.prev-btn {
    left: 15px;
}

.next-btn {
    right: 15px;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicator.active {
    background: white;
}

.indicator:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* Стили карточек предложений */
.page-index .offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-inline: 20%;
    margin: 0 auto;
}

.page-index .offers .offers-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: solid rgba(0, 0, 0, 0.2) 0.5px;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
}

.page-index .offers .offers-card .offers-card-img {
    overflow: hidden;
    border-radius: 12px;
}

.page-index .offers .offers-card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    transition: transform 0.3s ease-out ;
}

.page-index .offers .offers-card img:hover {
    transform: scale(1.1);
}

.page-index .offers .offers-card h3 {
    font-family: var(--font-heading);
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0px;
}

.page-index .offers .offers-card p {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 1rem;
}

.page-index .offers .offers-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-size: 1.125rem;     
    font-family: var(--font-ui);
    padding: 0.625rem 0;
    border-radius: 0.75rem;  
}

/* Стили карточек категорий */
.page-index .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; 
    width: 60%; 
    padding-top: 30px;
}

.page-index .categories .categories-item {
    position: relative;
    border-radius: 12px;
    overflow: hidden
}

.page-index .categories .categories-item .categories-item-img {
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.page-index .categories .categories-item .categories-item-img:hover {
    transform: scale(1.1);
}

.page-index .categories .categories-item h3 {
    position: absolute;
    z-index: 8;
    top: 10px;
    left: 30px;
    margin: 0px;
    font-size: 36px;
    font-family: var(--font-heading);
    color: var(--color-white);
    text-shadow: 
        -1px -1px 0 var(--color-black, #000),
         1px -1px 0 var(--color-black, #000),
        -1px  1px 0 var(--color-black, #000),
         1px  1px 0 var(--color-black, #000);
}

/* Стили карточек новинок */
.new-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 60%;
    margin-top: 30px;
}

.new-products .products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 20px;
}

.new-products .products .products-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-products .products .products-info h3 {
    font-family: var(--font-heading);
    font-size: 24px;
    margin: 0px;
    margin-top: 10px;
}

.new-products .products .products-info .products-img {
    overflow: hidden;
    border-radius: 12px;
}

.new-products .products .products-info .products-img img {
    max-height: 300px;
    border-radius: 12px;
}

.new-products .products a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--color-dark-gray);
    color: var(--color-white); /* Чёрный текст */
    font-family: var(--font-ui);
    background-color: var(--color-dark-gray); /* Белый фон */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Добавлен transition для transform */
}

.new-products .products a:hover {
    background-color: var(--color-white); /* При наведении фон станет серым */
    color: var(--color-dark-gray); /* Текст станет белым */
    transform: scale(1.05); /* Эффект приближения */
}

.new-products .products a:active {
    transform: scale(0.95);
}

.page-index h3 {
    margin: 0px;
    margin-top: 30px;
    font-size: 36px;
    font-family: var(--font-heading);
}